@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'animado';
  src: url('/static/fonts/animado.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
* {
    font-family: 'animado', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: lowercase;
    letter-spacing: 2px; 
    
}




:root {
    --azuloscuro: #01244e;
    --azulclaro: #043872;
    --anaranjado: #fa6f38;
    --blanco:#ffebd5;
}

body {
    font-family: Arial, sans-serif;
    margin: 30px;
    background: #f4f4f4;
    background-image: url('img/apa.png');
    transform: scale(0.9);      /* escala toda la página al 90% */
    transform-origin: top left; /* que el zoom salga desde la esquina superior izquierda */
    width: 111%;   
}

.titulo {
    text-align: center;
    transform: translateX(-50px);
    font-size: 50px;       /* tamaño de letra (más grande) */
    letter-spacing: 3px;   /* espacio entre letras */
    font-weight: bold;     /* lo hace más grueso */
    margin-bottom: 20px;   /* espacio debajo del título */
    color: var(--anaranjado);
    text-shadow: 
        -2px -2px 0 black,  
         2px -2px 0 black,
        -2px  2px 0 black,
         2px  2px 0 black;

}

form {
    background: var(--blanco);
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: auto;
    transform: translateX(-50px);
}

input, textarea, select, button {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background: var(--anaranjado);
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
   transform: scale(1.05);
}

.resultado {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
}

input:focus, textarea:focus, select:focus {
    border: 2px solid #007BFF;   /* borde azul */
    background-color: #f0f8ff;   /* fondo celeste */
    color: var(--azuloscuro);              /* texto en rojo */
    font-size: 18px;             /* texto más grande */
    outline: none;               /* quita borde por defecto */
    font-family: "Poppins", sans-serif;
}

input[name="nombre"] {
    text-transform: capitalize;
}